.fpro-section {
  /* display: none; */
  width: 99%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}


.fpro-section p {
  color: gray;
}

.pro-icon {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #606063;
}

.fpro-section .pro {
  width: 23%;
  min-width: 230px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  margin: 15px 0;
  position: relative;
}

.fpro-section .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.fpro-section .pro img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.fpro-section .pro .des {
  text-align: start;
  padding: 10px 0;
}

.fpro-section .pro .des span {
  color: #606063;
  font-size: 12px;
  font-weight: 700;
}

.fpro-section .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.fpro-section .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #1a1a1a;
}

.fpro-section .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #dcdcdc;
  font-weight: 500;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dcdcdc;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.fpro-section .pro .cart a {
  color: #1a1a1a;
}
