.cat-container {
    width: 100%;
  }
  

  
  
  
  .det.show {
    top: 80px;
    visibility: hidden;
    opacity: 0;
  }
  
  .btn-delete { 
    border: none;
    background-color: rgb(248, 127, 127);
    padding: 10px 20px ;
    border-radius: 0.25em;
    color: white;
  
  }
  
  .dots .icon {
    background-color: white;
    font-size: 20px;
    font-weight: 100;
    color: white;
  }